#Data Types and Structures Questions

1. What are data structures, and why are they important?
   - Data structure is a way of organizing, storing, and managing data in a computer so that the data can be accessed, modified, processed, and manipulated easily. When data is organized in a structured way, operations on the data become simple and efficient.

   - Data structure is important because it makes programs efficient, fast, and easy to manage, and it helps in accessing and manipulating data easily.

2. Explain the difference between mutable and immutable data types with examples
   - Mutability refers to the ability to change data after a value is assigned. Mutable data types allow operations such as insert, delete, update, or pop after creation. Examples include list, set, and dictionary.

   - Immutability refers to data that cannot be changed after it is created. Examples include tuple and string. String operations like replace, uppercase, or lowercase create a new value and do not change the original data.

3. What are the main differences between lists and tuples in Python?
   - The main difference between a list and a tuple in Python is mutability. A list is mutable, which means its data can be changed after creation, so it is used when modification of data is allowed. Lists support operations such as insert and delete.

   - A tuple is immutable, which means its data cannot be modified once created. Tuples are used when data should not be changed in any condition and they do not support operations like insert or delete.

4. Describe how dictionaries store data.
   - A dictionary stores data in the form of key–value pairs. Each key is unique and is used to access its corresponding value. Dictionaries store data in an organized way, allowing fast access, insertion, updating, and deletion of values using keys.

5. Why might you use a set instead of a list in Python?
   - A set is used when only unique elements are required. Both set and list are mutable, but a set does not allow duplicate values and stores a unique collection of elements, whereas a list allows duplicate values and does not store unique elements. Therefore, sets are useful because they do not allow duplicates.

6. What is a string in Python, and how is it different from a list?
    - A string in Python is a sequence of characters used to store text and is immutable, meaning its value cannot be changed after creation. A list is a collection of elements that is mutable, so its values can be modified, inserted, or deleted.

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python because they are immutable.
Once a tuple is created, its values cannot be changed, added, or deleted. This prevents accidental modification of data and helps keep the data safe, consistent, and reliable.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores data using key–value pairs by converting keys into hash values for fast access. In Python, dictionaries are implemented using hash tables.

   - Dictionary keys must be immutable so their hash value remains stable. Therefore, data types like integers, strings, tuples, and frozensets can be used as keys, while mutable types like lists cannot.

9. Can lists contain different data types in Python?
   - Yes, lists can contain different data types in Python because a list can store integers, floats, strings, booleans, and even other lists together.

10. Explain why strings are immutable in Python?
    - Strings are immutable in Python so that their values cannot be changed after creation. This improves performance, ensures data integrity, and allows strings to be safely used as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer advantages over lists because they store data in key–value pairs, allowing direct and fast access using keys. This makes searching and retrieving data more efficient compared to lists, which access values using indexes. Dictionaries also support nested structures, making them suitable for storing related and structured data.

12. Describe a scenario where using a tuple would be preferable over a list?
    - A tuple is preferable over a list when the data should not be changed in any condition. For example, employee information such as phone numbers or addresses can be stored in a tuple to keep the data safe. Since tuples are immutable, the data cannot be modified, which helps maintain data integrity.

13. How do sets handle duplicate values in Python?
    - In Python, a set is an unordered data structure that does not allow duplicate values. If duplicate values are assigned to a set, they are automatically ignored, and only unique elements are stored.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The 'in' keyword works differently for lists and dictionaries. In a list, the 'in' keyword checks whether a value is present in the list and returns 'True' if the value exists. In a dictionary, the 'in' keyword checks only the keys, not the values. If the given item is a key, it returns 'True'; if it is a value, it returns 'False'.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, we cannot modify the elements of a tuple because a tuple is immutable. Once a tuple is created, its elements cannot be updated or modified.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary in which the value of one or more keys is another dictionary. It is used to store structured or related data. For example, student names can be stored as keys, and their subject marks can be stored as another dictionary as values.
        
              students = {
                  "Ekta": {"math": 85, "science": 90},
                  "Rahul": {"math": 70, "science": 75}
                   }
     - This nested dictionary stores each student’s marks in different subjects inside another dictionary.

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in a dictionary has an average time complexity of O(1), because dictionaries use a hash table, which allows fast lookup using keys.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when key–value pairs are not required. They are used when we need to store a simple, ordered collection of values and access elements using indexes. Lists are suitable when only values are needed and no mapping between keys and values is required.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because they store data using a hash table, where each key is mapped to a hash value rather than an index. Data is accessed using keys instead of indexes, so the order of elements is not important. This makes data retrieval very fast and efficient, even though the elements are not stored in a fixed order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
     - The difference between a list and a dictionary in terms of data retrieval is that a list retrieves data using indexes, so elements are accessed based on their position and order. A dictionary retrieves data using keys, which are converted into hash values using a hash table. This allows very fast data access with an average time complexity of O(1). Therefore, dictionaries are efficient for key-based data retrieval, while lists are suitable for ordered data access.

#Practical Questions

In [136]:
''' 1. Write a code to create a string with your name and print it'''
# create string
str = 'Payal Babar'

# print string
print(f' String : {str}')

 String : Payal Babar

In [36]:
''' 2. Write a code to find the length of the string "Hello World" '''
str = "Hello World"
# Method 1
count = 0
for i in str:
  pass
  count+=1
print(count)

# Method2
print(len(str))

11
11

In [135]:
''' 3. Write a code to slice the first 3 characters from the string "Python Programming" '''
# create string
str = "Python Programming"

# print string
print(f' First three characters : {str[:3]}')

 First three characters : Pyt

In [133]:
''' 4. Write a code to convert the string "hello" to uppercase '''
str = 'hello'

# print string
print(f'Uppercase String : {str.upper()}')

Uppercase String : HELLO

In [131]:
''' 5. Write a code to replace the word "apple" with "orange" in the string "I like apple" '''
str = "I like apple"

# replace word apple to orange
str1 = str.replace('apple','orange')

# print string
print(f' Replaced string : {str1}')

 Replaced string : I like orange

In [129]:
''' 6. Write a code to create a list with numbers 1 to 5 and print it '''
#list comprehension
list1 = [i for i in range(1,6)]

# print list
print(f'List : {list1}')

List : [1, 2, 3, 4, 5]

In [128]:
''' 7. write a code to append the number 10 to the list [1, 2, 3, 4] '''
#create list
list2 = [1, 2, 3, 4]

#append element 10
list2.append(10)

#print list
print(f'List : {list2}')

List : [1, 2, 3, 4, 10]

In [127]:
''' 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] '''
#create list
list3 = [1, 2, 3, 4, 5]

#remove element 3
list3.remove(3)

#print list
print(f'List : {list3}')

List : [1, 2, 4, 5]

In [126]:
''' 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] '''
#creat list
list4 = ['a', 'b', 'c', 'd']

#print second element
print(f'Second element : {list4[1]}')

Second element : b

In [125]:
''' 10. Write a code to reverse the list [10, 20, 30, 40, 50]. '''
#create list
list1 = [10, 20, 30, 40, 50]

# one more way to reverse list
# list1.reverse()

#print reversed list
print(f'Reversed list : {list1[::-1]}')

Reversed list : [50, 40, 30, 20, 10]

In [50]:
''' 11. Write a code to create a tuple with the elements 100, 200, 300 and print it. '''
#create tuple
tuple1 = (100,200,300)

#print tuple
print(tuple1)

(100, 200, 300)

In [117]:
''' 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow'). '''
#create tuple
tuple2 = ('red', 'green', 'blue', 'yellow')

#print tuple
print(f'Second-to-last element : {tuple2[1:]}')

Second-to-last element : ('green', 'blue', 'yellow')

In [115]:
''' 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15). '''
# create tuple
new_tuple = (10, 20, 5, 15)

#print minimum number in tuple
print(f'Minimum number in tuple : {min(new_tuple)}')

Minimum number in tuple : 5

In [114]:
''' 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit'). '''
#create tuple
tuple1 = ('dog', 'cat', 'rabbit')

#return first occurence index
print(f'Index of the element "cat" : {tuple1.index('cat')}')

Index of the element "cat" : 1

In [65]:
''' 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.'''
#create tuple
tuple1 = ('mango','banana','kiwi')

for i in tuple1:
  # use of membership operator 'in' -> check if item present or not
  if 'kiwi' in i:
    print('True')

True

In [113]:
''' 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it. '''
#create set
set1 = {'a','b','c'}
print(f' Set : {set1}')

 Set : {'b', 'c', 'a'}

In [112]:
''' 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}. '''
set1 = {1, 2, 3, 4, 5}

#Clear all elements
set1.clear()

print(f'Cleared set : {set1}')

Cleared set : set()

In [111]:
''' 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}. '''

set1 = {1, 2, 3, 4}
#remove element

set1.remove(4)
print(f'new set after removing 4 element : {set1}')

new set after removing 4 element : {1, 2, 3}

In [110]:
''' 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}. '''
#create set
set1 = {1, 2, 3}
set2 = {3, 4, 5}

#return all values present in set
print(f' Union of two set : {set1 | set2}')

 Union of two set : {1, 2, 3, 4, 5}

In [108]:
''' 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}. '''

set1 = {1, 2, 3}
set2 = {2, 3, 4}

new_set = set1 & set2

#retun common values that present in both sets
print(f'Intersection of set : {new_set}')

Intersection of set : {2, 3}

In [106]:
''' 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it. '''

#create dictionary
dict1 = {'name':'payal', 'age' : 20 , 'city' : 'satara'}
print(f'Dictionary : {dict1}')

Dictionary : {'name': 'payal', 'age': 20, 'city': 'satara'}

In [105]:
''' 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}. '''

dict2 = {'name': 'John', 'age': 25}

#adding new key-value pair
dict2["country"] = "USA"

print(f'New dictionary with new key-value pair : {dict2}')

New dictionary with new key-value pair : {'name': 'John', 'age': 25, 'country': 'USA'}

In [104]:
''' 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} '''

dict3 = {'name': 'Alice', 'age': 30}
print(f'Access value of \'name\' : {dict3['name']}') # option 1
print(f'Access value of \'name\' in other way  : {dict3.get('name')}') # option 2

Access value of 'name' : Alice
Access value of 'name' in other way  : Alice

In [99]:
''' 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}. '''
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# remove key 'age'
dict4.pop('age')

#print dictionary
print(f'new dictionary after removing key \'age\' : {dict4}')

new dictionary after removing key 'age' : {'name': 'Bob', 'city': 'New York'}

In [79]:
''' 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}. '''

check_dict = {'name': 'Alice', 'city': 'Paris'}

# checking key 'city' is exist or not in dictionary
if 'city' in check_dict:
  print('True')

True

In [80]:
''' 26. Write a code to create a list, a tuple, and a dictionary, and print them all. '''
# Create a list
my_list = [10, 20, 30, 40]

# Create a tuple
my_tuple = (1, 2, 3, 4)

# Create a dictionary
my_dict = {
    "name": "Payal",
    "age": 20,
    "course": "Python"
}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40]
Tuple: (1, 2, 3, 4)
Dictionary: {'name': 'Payal', 'age': 20, 'course': 'Python'}

In [87]:
''' 27. Write a code to create a list of 5 random numbers between 1 and 100, Sort it in ascending order, and print the result.(replaced). '''

import random

# Create a list of 5 random numbers
number = [random.randint(1,100) for _ in range(5)]

# Sort the list in ascending order (replaces original list)
number.sort()
print('sorted list : ' , number)

sorted list :  [4, 28, 34, 75, 90]

In [89]:
''' 28. Write a code to create a list with strings and print the element at the third index.'''

#create a list
list1 = ['sanika','john','sheru','payal','mahir']

#print third index
print(f'Third index : {list1[3]}')

Third index : payal

In [96]:
''' 29. Write a code to combine two dictionaries into one and print the result.'''

#create dictionaries
info = {'name': 'Payal', 'age': 20, 'course': 'Python'}

students = {
     "Ekta": {"math": 85, "science": 90},
     "Rahul": {"math": 70, "science": 75}}

#combine two dictionaries
info.update(students)

# print dictionary
print(f'combined two dictionaries : {info}')

#one more way to combine
combined = {**info, **students}
print(f'Other way combined dictionary : {combined}')

#one more way to combine
combined1 = info | students
print(f'Other one combined dictionaries {combined1}')

combined two dictionaries : {'name': 'Payal', 'age': 20, 'course': 'Python', 'Ekta': {'math': 85, 'science': 90}, 'Rahul': {'math': 70, 'science': 75}}
Other way combined dictionary : {'name': 'Payal', 'age': 20, 'course': 'Python', 'Ekta': {'math': 85, 'science': 90}, 'Rahul': {'math': 70, 'science': 75}}
Other one combined dictionaries {'name': 'Payal', 'age': 20, 'course': 'Python', 'Ekta': {'math': 85, 'science': 90}, 'Rahul': {'math': 70, 'science': 75}}

In [97]:
''' 30. Write a code to convert a list of strings into a set.'''

# Create a list of strings
my_list = ["apple", "banana", "apple", "orange", "banana"]

# Convert list to set
my_set = set(my_list)

# Print the set
print("Set:", my_set)

Set: {'banana', 'apple', 'orange'}